body{
   
    font-family: sans-serif;
    background-image: url(WhatsApp\ Image\ 2025-09-02\ at\ 21.34.44.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
}

h2{
    opacity: 0%;
}

#eu{
    position: relative;
    width: 230px;
    height: 200px;
    bottom: 20px;
    right: 7px;
}

#nome{
    position: relative;
    bottom: 30px;
    left: 17px;
}

#retangulo{
    width: 500px;
    height: 400px;
    background-color: gray;
    margin-top: 20px;
    z-index: 1;
    
}
.visivel{
    display: block;
}
.invisivel{
    display: none;
}
#barra{
    width: 495px;
    height: 40px;
    background-color: blue;
    margin-top: 20px;
    z-index: 2;
    position: relative; bottom: 418px; left: 2px;
   text-align: left;
}

#fechar{
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: 20px;
    z-index: 3;
    position: relative; bottom: 470px; left: 470px;
    text-align: center;
    cursor: pointer;
   
}

#botoes{
    position: relative; top: 50px; left: 70px;
    z-index: 3;
}

#area{
    position: relative; bottom: 380px; left: 130px;
    z-index: 3;

}

#area2{
    position: relative; bottom: 380px; left: 13px;
    z-index: 3;
    max-width: 500px;
    line-height: 1.5;
}

#area4{
    position: relative; bottom: 380px; left: 13px;
    z-index: 3;
        max-width: 480px;
    line-height: 1.5;
}

#area3{
    position: relative; bottom: 380px; left: 13px;
    z-index: 3;
}

#area5{
    position: relative; bottom: 380px; left: 180px;
 line-height: 1.5;
 font-size: 20px;
    z-index: 3;

}


#web{
    position: relative;
    height: 50px;
    width: 60px;
    cursor: pointer;
    left: 35px;
}



@media(max-width:768px){

#retangulo{
   width: 360px;
    margin-bottom: 10px;
}


.visivel{
   width: 95%;
   margin-bottom: 10px;
}

.invisivel{
   width: 95%;
   margin-bottom: 10px;
}

#barra{
   width: 357px;
   margin-bottom: 10px;
}

#fechar{
    left: 310px;
}

#botoes{
    position: relative;
  left: 20px;
 width: 600px;
 height: 500px;
}

#area2{
    position: relative;
   text-align: center;
   margin-bottom: 10px;
   left: 40px;
   line-height: 1.5;
    max-width: 250px;
}

#area4{
     position: relative;
   text-align: center;
   margin-bottom: 10px;
   left: 40px;
   line-height: 1.5;
    max-width: 250px;
}

#area3{
    position: relative;
   text-align: center;
   margin-bottom: 10px;
   left: 40px;
   line-height: 1.5;
    max-width: 250px;
}

#area5{
    position: relative;
   text-align: center;
   margin-bottom: 10px;
   left: 40px;
   line-height: 1.5;
    max-width: 250px;
}

#area{
    position: relative;
   
   margin-bottom: 10px;
   left:57px;
   line-height: 1.5;
    max-width: 250px;
}

#nome{
    position: relative;
    left: 30px;
}

#bv{
    position: relative;
    left: 20px;
}

#eu{
    position: relative;
    left: 10px;
}

#web{
   
   margin-bottom: 10px;
}

body{
    position: relative;
 overflow-x: hidden;
 overflow-y: hidden;
 height: 100%;
 width: 120%;
}

}

#webe{
    position: relative;
    left: 20px;
}