body{
   
    font-family: sans-serif;
    background-image: url(WhatsApp\ Image\ 2025-09-02\ at\ 21.34.44.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: solid black;
}

#celular{
    position: relative;
    bottom: 182px;
    display: none;
}

#tela2{
   position: relative;
    width: 260px;
    height: 300px;
   text-align: center;
    z-index: 13;
   bottom: 1948px;
   left: 65px;
   border-radius: 10%;
   font-size: 20px;
   color: black;

}

#tela4{
   position: relative;
    width: 273px;
    height: 310px;
   text-align: center;
    z-index: 13;
   bottom: 1943px;
   left: 59px;
   border-radius: 10%;
   font-size: 20px;
   color: black;

}

#tela5{
   position: relative;
    width: 273px;
    height: 310px;
   text-align: center;
    z-index: 13;
   bottom: 1895px;
   left: 59px;
   border-radius: 10%;
   font-size: 20px;
   color: black;
}

#tela3{
    line-width: 1.5;
   position: relative;
    width: 273px;
    height: 310px;
   text-align: center;
    z-index: 13;
   bottom: 1943px;
   left: 59px;
   border-radius: 10%;
   font-size: 20px;
   color: black;
}

#con1{
   text-decoration: none solid black;
    color: black;
}

#con2{
   text-decoration: none solid black;
    color: black;
}

#con3{
   text-decoration: none solid black;
    color: black;
}

#s1{
   
    color: black;
}

#s2{
   
    color: black;
}

#telaverde{
position: relative;
background-color: rgb(63, 107, 117);
bottom: 673px;
right: 20px;
width: 1015px;
height: 2000px;
z-index: 4;
display: none;
overflow: hidden;
}

#mokia{
    z-index: 10;
    background-color: black;
    bottom: 150px;
    left: 345px;
    position: relative;
    color: white;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
   width: 272px;
   text-align: center;

}

#tela{
    position: relative;
    width: 700px;
    height: 600px;
    background:  linear-gradient(
        to top, #093300, rgb(62, 170, 0));
    z-index: 7;
   bottom: 2100px;
   left: 140px;
   border-radius: 10%;
   box-shadow: 0px 0px 40px black;
}

#borda{
    position: relative;
    width: 800px;
    height: 1400px;
    background-color: transparent;
    z-index: 5;
    display: none;
    left: 40px;
    bottom: 3250px;
    border: 50px solid rgb(255, 255, 255);
    border-radius: 50%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
  border-bottom: 200px solid rgb(255, 255, 255); /* ajuste a cor e a espessura como quiser */
  box-shadow: 0px 50px 40px rgba(0,0,0,0.3); /* deslocamento-x, deslocamento-y, blur, cor */

}

#botoes-celular{
    
    position: relative;
    top: 300px;
    left: 320px;
    z-index: 12;
    width: 200px;
    height: 0px;
   
}

#ec{
    position: relative;
    rotate: 55deg;
    font-size: 80px;

    left: 30px;
bottom: 40px;
}

#c{
    color: black;
    position: relative;
    height: 150px;
    width: 100px;
    background: rgb(255, 255, 255);
    border: black solid 5px;
    left: 190px;
    top: 1100px;
    z-index: 13;
    border-bottom-left-radius: 50%;
     border-bottom-right-radius: 20%;
      border-top-right-radius: 20%;
       border-top-left-radius: 20%;
       rotate: -36deg;
       
      transform: skewx(20deg);
       transform: skewy(-40deg);
}

#somim{
    position: relative;
    height: 80px;
    width: 320px;
    font-size: 50px;
    background: transparent;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#progr{
   position: relative;
    height: 80px;
    width: 320px;
    font-size: 48px;
    background: transparent;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#proje{
     position: relative;
    height: 80px;
    width: 320px;
    font-size: 50px;
    background: transparent;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cont{
     position: relative;
    height: 80px;
    width: 320px;
    font-size: 50px;
    background: transparent;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaonokia{
    position: relative;
    width: 550px;
    height: 300px;
    z-index: 12;
    background-color: rgb(255, 255, 255);
    bottom: 3630px;
    left: 210px;
    border-radius: 90%;
   
}

#tudo{


}

.zoomex1{
    height: 50%;
    width: 50%;
}

.zoomex2{
    height: 70%;
    width: 70%;
}

.zoomex3{
    height: 90%;
    width: 90%;
}

.zoomex4{
    position:absolute;
height: 100%;
    width: 100%;
    background-size: cover;
}




.zoom1{
    zoom: 40%;
}

.zoom2{
    zoom: 70%;
}

.zoom3{
    zoom: 100%;
}


h2{
    opacity: 0%;
}

#eu{
    position: relative;
    width: 230px;
    height: 200px;
    bottom: 20px;
    right: 7px;
}

#nome{
    position: relative;
    bottom: 30px;
    left: 17px;
}

#retangulo{ 
   
    width: 500px;
    height: 400px;
    background-color: gray;
    margin-top: 20px;
    z-index: 1;
    
}

#retangulo2{
    position: fixed;
    opacity: 0%;
    width: 500px;
    height: 400px;
    background-color: gray;
    margin-top: 20px;
    z-index: -3;
}

.visivel{
    display: block;
}
.invisivel{
    display: none;
}
#barra{
    width: 495px;
    height: 40px;
    background-color: blue;
    margin-top: 20px;
    z-index: 2;
    position: relative; bottom: 418px; left: 2px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
}

#fechar{
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: 20px;
    z-index: 3;
    position: relative; bottom: 470px; left: 470px;
    text-align: center;
    cursor: pointer;
   
}



#botoes{
    position: relative; top: 50px; left: 70px;
    z-index: 3;
    cursor: pointer;
}

#pro{
    cursor: pointer;
}

#co{
    cursor: pointer;
}

#pr{
    cursor: pointer;
}

#sm{
    cursor: pointer;
}

#area{
    position: relative; bottom: 380px; left: 130px;
    z-index: 3;

}

#area2{
    position: relative; bottom: 380px; left: 13px;
    z-index: 3;
    max-width: 500px;
    line-height: 1.5;
}

#area4{
    position: relative; bottom: 380px; left: 13px;
    z-index: 3;
        max-width: 480px;
    line-height: 1.5;
}

#area3{
    position: relative; bottom: 380px; left: 13px;
    z-index: 3;
}

#area5{
    position: relative; bottom: 380px; left: 180px;
 line-height: 1.5;
 font-size: 20px;
    z-index: 3;

}


#web{
    position: relative;
    height: 50px;
    width: 60px;
    cursor: pointer;
    left: 35px;
}



@media(max-width:768px){

#retangulo{
   width: 360px;
    margin-bottom: 10px;
    display: none;
}

#retangulo2{
    opacity: 0%;
   width: 360px;
    margin-bottom: 10px;
     display: none;
}


.visivel{
   width: 95%;
   margin-bottom: 10px;
   
}

.invisivel{
   width: 95%;
   margin-bottom: 10px;
}

#barra{
   width: 357px;
   margin-bottom: 10px; 
   display: none;
}

#fechar{
    left: 310px;
     display: none;
}

#botoes{
    position: relative;
  left: 20px;
   display: none;
 width: 600px;
 height: 500px;
}

#area2{
    position: relative;
   text-align: center;
   margin-bottom: 10px;
   left: 55px;
   line-height: 1.5;
    max-width: 250px;
     display: none;
}

#area4{
     position: relative;
   text-align: center;
   margin-bottom: 10px;
   left: 55px;
   line-height: 1.5;
    max-width: 250px;
     display: none;
}

#area3{
    position: relative;
   text-align: center;
    display: none;
   margin-bottom: 10px;
   left: 55px;
   line-height: 1.5;
    max-width: 250px;
}

#area5{
    position: relative;
     display: none;
   text-align: center;
   margin-bottom: 10px;
    left: 55px;
   line-height: 1.5;
    max-width: 250px;
}

#area{
    position: relative;
    display: none;
   margin-bottom: 10px;
   left:57px;
   line-height: 1.5;
    max-width: 250px;
}

#nome{
    position: relative;
    left: 30px;
     display: none;
}

#bv{
    position: relative;
    left: 20px;
}

#eu{
    position: relative;
    left: 10px;
     display: none;
}

#web{
     display: none;
   
   margin-bottom: 10px;
}

body{
    position: relative;
   background-size: cover;
   height: 95%;
width: 93%;
zoom: 100%;
background-image: none;
background-color: solid black;
}

#celular{
    display: block
}
#telaverde{
    display: block;
}

#borda{
    display: block;
}
}

#webe{
    position: relative;
    left: 20px;
}
