body{
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background: #E5EBED;
}

html{
    scroll-behavior: smooth;
}

.fundomobile{
    display: none;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    z-index: 99;
}

.navbar a{
    color: #3f4749;
    margin-right: 2%;
    font-family: Inter;
    font-size: 50%;
    font-weight:bold;
    text-decoration: none;
    transition: 1s;
}


.navbar a:hover{
     color: #606c6e;
}

.shape-container1{
 width: 100%;
 height: 100%;
position: absolute;
z-index: 0;
margin: 0%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5EBED;
    overflow: hidden;
    margin: 0%;
    animation: anima-scroll linear;
    animation-timeline: view();
animation-range: entry 0% cover 30%;
margin-bottom: 7%;
overflow: hidden;
}


.container-2{
    width: 100%;
    overflow: hidden;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5EBED;
    overflow: hidden;
    margin: 0%;
    gap: 30%;
    animation: anima-scroll linear;
    animation-timeline: view();
animation-range: entry 0% cover 30%;
margin-bottom: 7%;

}


.container-3{
    overflow: hidden;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5EBED;
    overflow: hidden;
    margin: 0%;
    animation: anima-scroll linear;
    animation-timeline: view();
animation-range: entry 0% cover 30%;
margin-bottom: 7%;

}


@keyframes anima-scroll{
    0%{
        opacity: 0;

    }

    100%{
        opacity: 1;
    }
}

.conteudo{
    background: yellow;
    width: 100%;
    height: 100%;
}

.texto_sobremim{
    height: 50%;
    gap: 2%;
    width: 25%;
    font-family: Inter;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.texto_sobremim p{
    text-align: justify;
}

.texto_sobremim img{
    width: 100%;
    height: 30%;
}

.minhafoto{
     height: 55%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.minhafoto img{
    width: 100%;
    height: 100%;
    z-index: 1;
}


.skills{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.education{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.education img{
    width: 60%;
    height: 80%;
}

.tech{
    width: 50%;
    height: 30%;
    font-family: Prompt;
    margin-left: 17%;
    font-size: 1.5rem;
    font-weight: 600;
}

.tech span{
    font-size:1.7rem;
        font-weight: bold;

}

.linguagens{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.linguagens img{
    height: 90%;
    width: 10%;
}

.soft{
    background: yellow;
    width: 50%;
    height: 30%;
    font-family: Prompt;
    font-weight: bold;
}

.fundo-3{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.container-carrosel{
width: 97%;  
min-height: 350px;
    z-index: 10;

}

.carrosel{
    z-index: 10;
display: flex;
flex-direction: row;
overflow-x: auto;
overscroll-behavior-x: contain;
scroll-snap-type: x mandatory;
scrollbar-width: none;
}

.card{
        z-index: 10;
position: relative;
min-height: 350px;
min-width: 450px;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
left: 8%;
margin-left: 2%;
}

.card button{
    background: #E5EBED;
    position: relative;
    z-index: 99;
    top: 42%;
    right: 90%;
    font-family: Inter;
    margin-right: 5%;
    font-weight: bold;
    font-size: 70%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.card button a{
    color: #1A1E1F;
    text-decoration: none;
}

.card button:hover{
    background: #E5EBED;
    color: #525b5e;
}

.card-img{
        z-index: 10;

    width: 97%;
    height: 100%;
    margin: 0;
   
}

.git-button{
   position: relative;
   top: 40%;
   right: 10%;
   z-index: 90;
   width: 10%;
   height: 10%;
   background: green;
}

.git-button img{
    width: 100%;
    height: 100%;
}

.rodape{
    background: #d2d7da;
    width: 100%;
    height: 7%;
    font-family: Inter;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #525b5e;
}

.rodape p{
    margin-left:2%;
    width: 50%;
}

.email{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.email a{
     margin-right:2%;
     text-decoration: none;
     color: #525b5e;
}

@media(max-width:768px){

.fundomobile{
 width: 100%;
 height: 100%;
position: absolute;
z-index: 0;
margin: 0%;
display: block;
}


.shape-container1{
display: none;    
}

    .container{
        flex-direction: column;
        overflow: hidden;
    }

     .container-2{
        flex-direction:column-reverse;
        gap: 8%;
        overflow: hidden;
    }

     .container-3{
        overflow: hidden;
        flex-direction: column;
    }

    .texto_sobremim{
        font-size: 90%;
        width: 80%;
    }

    .minhafoto{
        width: 80%;
    }

    .skills{
        flex-direction: row;
        width: 100%;
        height: 20%;
    }

    .tech{
        margin: 0;
        justify-content: center;
        width: 50%;
        font-size: 60%;
        height: 40%;
        margin: 8%;
    }

    .tech span{
        font-size: 1rem;
    }

    .soft{
        margin: 0;
    }

    .education img{
        width: 80%;
    }
    .education{
        width: 100%;
        height: 70%;
    }

    .container-carrosel{
        width: 90%;
    }

    .carrosel{
        gap: 5%;
    }

    .card{
        min-width: 280px;
        min-height: 220px;
        left: 25%;
    }
    .rodape{
        flex-direction: column;
}

    .rodape p{
        font-size: 50%;
        text-align: center;
    }

    .email a{
        font-size: 50%;
        text-align: center;
    }
}