body{
   margin: 0;
    background: linear-gradient(to top right, black, rgb(0, 0, 0), rgb(255, 2, 255));
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    place-items: center;
    background-attachment: fixed;
}


html{
    scroll-behavior: smooth;
}

.ft_eu{
    width: 15%;
    height: 25%;
    border-radius: 50%;
    margin-left: 15%;
}

.nav_bar a{
    text-decoration: none;
    color: rgb(39, 0, 39)
}

.nav_bar p:hover{
    color: rgb(54, 0, 54);
    text-decoration:underline;
    cursor: pointer;
}



.conteudo_2{
    background: rgb(39, 0, 39);
    position: relative;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.conteudo{
    background: rgb(43, 0, 43);
    position: relative;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h3{
        

    color: white;
    font-family:monospace
    
}



h4{
    color: white;
        font-family:monospace

}

.nav_bar{
    position: fixed;
    width: 100%;
    height: 4%;
     font-family:monospace;
    top: 0vh;
    background: white;
    z-index: 99;
    color: purple;
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10%;
}

.ft_projetos{
    position: relative;
    width: 100%;
    height: 60%;
   cursor: pointer;
}

.projetos{
    position: relative;
    width: 60%;
    height: 40%;
     background: rgb(34, 0, 34);
     margin: 1.5%;
       font-family: monospace;

}

.projetos p {
    padding: 1%;
    color: white;
}

.skills{
    width: 100%;
    height: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 8%;
}

.ft_skill{
    width: 7%;
    height: 14%;
   
    margin: 2%;
}

.container_skill{
    width: 18%;
    height: 16%;
    background: rgb(34, 0, 34);
    color: white;
    font-family: monospace;
}

.container_skill p {
    margin-left: 2%;
}



.conteudo h5{
    position: absolute;
    top: 0;
    color: white;
font-family: monospace;
padding-top: 5%;
font-size: 100%;
}

.conteudo_2 h5{
    position: absolute;
    top: 0;
    color: white;
font-family: monospace;
padding-top: 5%;
font-size: 100%;
}

.conteudo_contato{
    width: 50%;
    
    height: 10%;
    border: 1px solid white;
      color: white;
      font-family: monospace;
}

.conteudo_contato img{
    position: relative;
    width: 12%;
    height: 35%;
    margin: 40%;
   cursor: pointer;
}



.conteudo_contato p{
    position: absolute;
 
    top: 37%;
   color: white;
   font-family: monospace;
}

.contatos{
    width: 100%;
    height: 100%;
 display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card_experiencia{
    margin-top: 5%;
    height: 28%;
    width: 100%;
    background: rgb(36, 0, 36);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(54, 0, 54);
    font-family: monospace;
}

.card_experiencia p{
    margin-left: 1%;
}

.quadro_card_experiencia{
    height: 60%;
    width: 50%;
    background: rgba(0, 128, 0, 0);
    
}

@media(max-width:768px){
    .conteudo{
        height: 50%;
    }

    .conteudo_2{
        height: 50%;
    }

    h3{
        margin-left: 8%;
        font-size: 80%;
    }

     h4{
                font-size: 80%;

width: 100%;
        margin-left: 8%;
    }

    .ft_eu{
        
        margin-right: 2%;
        width: 30%;
    }

    .card_experiencia p{
        font-size: 50%;
        margin: 0;
    }

    .projetos{
        height: 35%;
        font-size: 70%;
    }

    .ft_projetos{
        height: 35%;
    }

 .projetos p{
    margin-top: 0%;
 }

 .nav_bar{
    gap: 5%;
 }

 .container_skill{
    width: 50%;
    height: 30%;
 font-size: 70%;
   
    
 }

 .skills{
    width: 90%;
    gap: 5%;
    height: 70%;
 }

 .ft_skill{
    width: 16%;
    height: 19%;
 }

 .conteudo_contato{
    width: 90%;
    
 }

 
 .conteudo_contato p{
   top: 35%;
    
 }

 .contatos{
    gap: 12%;
 }

}