body{
   margin: 0;
    background: linear-gradient(to top right, black, rgb(0, 0, 0), rgb(255, 2, 255));
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    place-items: center;
    background-attachment: fixed;
}


html{
    scroll-behavior: smooth;
}

.minhas_contas{
    width: 100%;
    height: 100%;
    z-index: 99;
}


.card_apresentacao a{
    position: relative;
        width: 6%;
    height: 32%;
    z-index: 99;
    
}

.contas{
    background: rgba(0, 128, 0, 0);
    height: 20%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.fundo_img1{
    position: absolute;
    z-index: 0;
    opacity: 30%;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

.ft_eu{
    width: 15%;
    height: 25%;
    border-radius: 50%;
    margin-left: 15%;
}

.nav_bar a{
    text-decoration: none;
    color: rgb(122, 0, 146);
    transition: 1s;
}

.nav_bar p:hover{
    
    color: rgb(222, 0, 222);
    cursor: pointer;
}



.conteudo_2{
    background: rgb(34, 15, 49);
    position: relative;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.conteudo{
    background: rgb(40, 17, 59);
    position: relative;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.linhaprojeto{
    background: rgba(0, 128, 0, 0);
    height: 45%;
    display: flex;
    flex-direction: row;
}

.linha2projeto{
     background: rgba(0, 128, 0, 0);
    height: 45%;
    display: flex;
    flex-direction: row;

}

.projetos_linhas{
    position: relative;
    width: 100%;
    height: 90%;
    background: rgba(255, 255, 0, 0);
    display: flex;
    flex-direction: column;
  margin-top: 5%;
}

.card_apresentacao{
    background: rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50%;
}

h1{
        

    color: white;
    font-family:monospace;
    
}



h2{
    color: white;
    font-size: 100%;
        font-family:monospace;
        text-align: center;
   
}

h3{
    color: white;
    font-size: 100%;
    margin: 0;
    font-family: monospace;
}

.nav_bar{
    position: fixed;
    width: 100%;
    height: 4%;
     font-family:monospace;
    top: 0vh;
    background: rgba(255, 255, 255, 0);
    z-index: 99;
    color: purple;
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10%;
}

.ft_projetos{
    position: relative;
    width: 100%;
    height: 60%;
   cursor: pointer;
}

.projetos{
    position: relative;
    width: 60%;
    height: 75%;
     background: rgba(34, 0, 34, 0.288);
         border: 3px solid rgba(47, 0, 90, 0.623);

     margin: 1.5%;
       font-family: monospace;

}

.projetos_nãoexiste{
    position: relative;
    width: 60%;
    height: 60%;
     background: rgba(34, 0, 34, 0.555);
         border: 3px solid rgba(47, 0, 90, 0.623);
opacity: 0%;
     margin: 1.5%;
       font-family: monospace;

}

.projetos_nãoexiste .ft_projetos{
    display: none;
}

#linguagens{
    color: rgba(91, 0, 133, 0.582);
}

.projetos p {
    padding: 1%;
    color: white;
}

.skills{
    width: 100%;
    height: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 8%;
}

.ft_skill{
    width: 7%;
    height: 14%;
   
    margin: 2%;
}

.container_skill{
    width: 18%;
    height: 16%;
    background: rgba(51, 0, 61, 0.219);
    color: rgb(255, 255, 255);
    border: 3px solid rgba(28, 0, 54, 0.678);
    font-family: monospace;
}

.container_skill p {
    margin-left: 2%;
}



.conteudo h5{
    position: absolute;
    top: 0;
    color: white;
font-family: monospace;
padding-top: 1%;
font-size: 100%;
}

.conteudo_2 h5{
    position: absolute;
    top: 0;
    color: white;
font-family: monospace;
padding-top: 1%;
font-size: 100%;
}

.conteudo_contato{
    width: 50%;
    
    height: 10%;
    outline: 5px solid rgba(28, 0, 54, 0.678);
    border: 1px solid white;
      color: white;
      font-family: monospace;
}

.conteudo_contato img{
    position: relative;
    width: 12%;
    height: 35%;
    margin: 40%;
   cursor: pointer;
}



.conteudo_contato p{
    position: absolute;
 
    top: 37%;
   color: white;
   font-family: monospace;
}

.contatos{
    width: 100%;
    height: 100%;
 display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card_experiencia{
    margin-top: 5%;
    height: 28%;
    width: 100%;
    background: rgba(51, 0, 61, 0.329);
    color: rgb(255, 255, 255);
    border: 3px solid rgba(28, 0, 54, 0.678);
    font-family: monospace;
}

.card_experiencia p{
    margin-left: 1%;
}

.card_experiencia span{
    color:rgb(73, 21, 107);
}

.quadro_card_experiencia{
    height: 60%;
    width: 50%;
    background: rgba(0, 128, 0, 0);
    
}

span a{
    color: rgb(26, 0, 26);
   position: absolute;
   right: 5%;
   background: rgba(66, 0, 66, 0.61);
   width: 12%;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
}

@media(max-width:768px){
    .conteudo{
        height: 100%;
    }

    .conteudo_2{
        height: 100%;
    }

    h3{
        margin-bottom: 2%;
        font-size: 60%;
    }

     h4{
                font-size: 80%;

width: 100%;
        margin-left: 8%;
    }

    .ft_eu{
        
        margin-right: 2%;
        width: 30%;
    }

    .card_experiencia p{
        font-size: 50%;
        margin: 0;
    }

    .card_experiencia{
        height: 20%;
        margin-top: 15%;
    }

    .projetos{
        height: 50%;
       
    }

    .linha2projeto{
        margin: 0;
        background: rgba(153, 205, 50, 0);
        height: 30%;
    }

    .linhaprojeto{
        margin-top: 30%;
        background: rgba(255, 255, 0, 0);
                height: 30%;

    }



    .projetos_linhas{
        margin-top: 23%;
    }

    .card_apresentacao{
        background: rgba(255, 255, 0, 0);
        width: 80%;
        height: 90%;
        text-align: center;
    }

    .card_apresentacao h2{
        font-size: 90%;
    }

    .ft_projetos{
        height: 40%;
    }

 .projetos p{
    margin-top: 0%;
    font-size: 40%;
 }

 span a{
    width: 20%;
 }

 .nav_bar{
    gap: 5%;
 }

 .container_skill{
    width: 50%;
    height: 20%;
 font-size: 70%;
   
    
 }

 .skills{
    width: 90%;
    gap: 5%;
    height: 70%;
 }

 .ft_skill{
    width: 16%;
    height: 19%;
 }

 .conteudo_contato{
    width: 90%;
    height: 7%;
 }

 
 .conteudo_contato p{
   top: 35%;
    
 }

 .contatos{
    gap: 12%;
 }

}