body{
   margin: 0;
    background: linear-gradient(to top right, black, rgb(0, 0, 0), rgb(255, 2, 255));
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    place-items: center;
    background-attachment: fixed;
}


html{
    scroll-behavior: smooth;
}

.minhas_contas{
    width: 100%;
    height: 100%;
    z-index: 99;
}

.card_sobremim{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(135, 61, 255, 0);
}

.card_sobremim p{
    width: 50%;
    height: 50%;
    margin: 1%;
    margin-right: 20%;
    font-size: 100%;
    color: rgb(229, 202, 255);
      
padding: 2%;
border: 2px solid rgb(132, 0, 255);
border-top: none;
border-right: none ;
border-bottom-left-radius: 10px;
padding-left: 1%;
padding-right: 1%;
}

.card_sobremim b{
    color: rgb(132, 0, 255);
}

#title_mim{
    font-size: 30px;
}

.ft_eu{
    width: 20%;
    height: 40%;
    border-radius: 50%;
    margin-right: 2%;
    border: 2px solid rgb(132, 0, 255);
    box-shadow: 0px 0px 20px rgba(136, 61, 255, 0.685);
    animation: shadow 3s infinite alternate;
    margin: 0;
}




.card_apresentacao a{
    position: relative;
        width: 6%;
    height: 32%;
    z-index: 99;
    
}

.contas{
    background: rgba(0, 128, 0, 0);
    height: 20%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.fundo_img1{
    position: absolute;
    z-index: 0;
    opacity: 30%;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

@keyframes shadow{
    0%{
        box-shadow: 0px 0px 10px rgba(135, 61, 255, 0.363);
    }

     100%{
        box-shadow: 0px 0px 30px rgba(136, 61, 255, 0.685);
    }
}

.nav_bar a{
    text-decoration: none;
    color: rgb(122, 0, 146);
    transition: 1s;
}

.nav_bar p:hover{
    
    color: rgb(222, 0, 222);
    cursor: pointer;
}



.conteudo_2{
    background: rgb(34, 15, 49);
    position: relative;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.conteudo{
    background: linear-gradient( 180deg ,rgb(40, 17, 59),rgb(40, 17, 59), rgb(34, 15, 49) );
    position: relative;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.linhaprojeto{
    background: rgba(0, 128, 0, 0);
    height: 45%;
    display: flex;
    flex-direction: row;
}

.linha2projeto{
     background: rgba(0, 128, 0, 0);
    height: 45%;
    display: flex;
    flex-direction: row;

}

.projetos_linhas{
    position: relative;
    width: 100%;
    height: 90%;
    background: rgba(255, 255, 0, 0);
    display: flex;
    flex-direction: column;
  margin-top: 5%;
}



.card_apresentacao{
    background: rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50%;
}

h1{
        
    color: rgb(199, 138, 255);
    font-family:monospace;
    z-index: 1;
    margin: 3%;
    font-size: 50px;
    
}



h2{
    color: white;
    font-size: 20px;
        z-index: 1;
margin: 0;
        font-family:monospace;
        text-align: center;
   animation: opacity 2s infinite alternate;
}

@keyframes opacity{
    0%{
        color: rgb(132, 0, 255);
    }

    50%{
        color: rgb(130, 39, 190);
    }

    100%{
        color: rgba(136, 61, 255, 0.685);
    }
}

h3{
    color: white;
    font-size: 100%;
    margin: 0;
    font-family: monospace;
        z-index: 1;

}

.nav_bar{
    position: fixed;
    width: 100%;
    height: 4%;
     font-family:monospace;
    top: 0vh;
    background: rgba(255, 255, 255, 0);
    z-index: 99;
    color: purple;
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10%;
}

.ft_projetos{
    position: relative;
    width: 100%;
    height: 60%;
   cursor: pointer;
}

.projetos{
    position: relative;
    width: 60%;
    height: 75%;
   background: rgba(51, 0, 61, 0.329);
    color: rgb(255, 255, 255);
    border: 3px solid rgba(73, 0, 141, 0.678);

     margin: 1.5%;
       font-family: monospace;

}

.projetos_nãoexiste{
    position: relative;
    width: 60%;
    height: 60%;
     background: rgba(34, 0, 34, 0.555);
         border: 3px solid rgba(47, 0, 90, 0.623);
opacity: 0%;
     margin: 1.5%;
       font-family: monospace;

}

.projetos_nãoexiste .ft_projetos{
    display: none;
}

#linguagens{
    color: rgba(73, 0, 141, 0.678);
}

.projetos p {
    padding: 1%;
    color: white;
}

.skills{
    
    width: 100%;
    height: 100%;
      display: flex;
    flex-direction: column;
}

.linhaskill{
    display: flex;
    flex-direction: row;
     width: 100%;
     align-items: center;
     justify-content: center;
    height: 50%;
    gap: 8%;
}

.linhaskill2{
    background: yellowgreen;
    width: 100%;
    height: 50%;
}

.ft_skill{
    width: 7%;
    height: 14%;
   
    margin: 2%;
}

.container_skill{
    width: 18%;
    height: 35%;
    background: rgba(51, 0, 61, 0.219);
    color: rgb(255, 255, 255);
    border: 3px solid rgba(73, 0, 141, 0.678);
    font-family: monospace;
}

.container_skill p {
    margin-left: 2%;
}



.conteudo h5{
    position: absolute;
    top: 0;
    color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-top: 1%;
font-size: 100%;
letter-spacing: 1px;
}

.conteudo_2 h5{
    position: absolute;
    top: 0;
    color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-top: 1%;
font-size: 100%;
letter-spacing: 1px;

}

.conteudo_contato{
    width: 50%;
    
    height: 10%;
    outline: 5px solid rgba(73, 0, 141, 0.678);
    border: 1px solid white;
      color: white;
      font-family: monospace;
}

.conteudo_contato img{
    position: relative;
    width: 12%;
    height: 35%;
    margin: 40%;
   cursor: pointer;
}



.conteudo_contato p{
    position: absolute;
 
    top: 37%;
   color: white;
   font-family: monospace;
}

.contatos{
    width: 100%;
    height: 100%;
 display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card_experiencia{
    margin-top: 5%;
    height: 28%;
    width: 100%;
    background: rgba(51, 0, 61, 0.329);
    color: rgb(229, 202, 255);
    border: 3px solid rgba(73, 0, 141, 0.678);
    font-family: monospace;
}

.card_experiencia p{
    margin-left: 1%;
}

.card_experiencia span{
    color:rgb(73, 21, 107);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quadro_card_experiencia{
    height: 60%;
    width: 50%;
    background: rgba(0, 128, 0, 0);
    
}

span a{
    color: rgb(177, 60, 255);
   position: absolute;
   right: 5%;
   background: rgba(73, 0, 141, 0.678);
   width: 12%;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border-radius: 5px;
}

@media(max-width:768px){
    .conteudo{
        height: 100%;
    }

    .conteudo_2{
        height: 100%;
    }

    h3{
        margin-bottom: 2%;
        font-size: 60%;
    }

     h4{
                font-size: 80%;

width: 100%;
        margin-left: 8%;
    }

    

    .quadro_card_experiencia{
        height: 70%;
        width: 80%;
    }

    .card_experiencia p{
        font-size: 80%;
        margin: 0;
        margin-left: 2%;
    }

    .card_experiencia{
        height: 30%;
        width: 100%;
        margin-top: 8%;
    }

    .card_experiencia span{
        color:rgb(130, 39, 190);

    }

    .projetos{
        height: 50%;
       
    }

    .linha2projeto{
        margin: 0;
        background: rgba(153, 205, 50, 0);
        height: 30%;
    }

    .linhaprojeto{
        margin-top: 30%;
        background: rgba(255, 255, 0, 0);
                height: 30%;

    }



    .projetos_linhas{
        margin-top: 23%;
    }

    .card_apresentacao{
        background: rgba(255, 255, 0, 0);
        width: 80%;
        height: 90%;
        text-align: center;
    }

    .card_apresentacao h2{
        font-size: 90%;
    }

    .ft_projetos{
        height: 40%;
    }

 .projetos p{
    margin-top: 0%;
    font-size: 60%;
 }

 span a{
    position: absolute;
    bottom: 0;
    
    margin-bottom: 2%;
    width: 20%;
    height: 12%;
    font-size: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .nav_bar{
    gap: 3%;
 }

 .nav_bar a{
    color: rgba(141, 0, 207, 0.678);
 }

 .container_skill{
    height: 25%;
    width: 40%;
 font-size: 70%;
   margin: 3%;
    margin-top: 0;
    margin-bottom: 0%;
 }

 .skills{
    width: 100%;
    height: 100%;
 }

.linhaskill{
    height: 50%;
    gap: 0;
}

 .ft_skill{
    width: 16%;
    height: 19%;
 }

 .conteudo_contato{
    width: 90%;
    height: 7%;
 }

 
 .conteudo_contato p{
   top: 35%;
    
 }

 .contatos{
    gap: 12%;
 }

 #linguagens{
    color: rgba(159, 0, 233, 0.582);
    font-size: 50%;
}

span a{
    background: rgba(85, 0, 124, 0.582);
    right: 2%;
    color: rgba(183, 75, 255, 0.856);
}

.card_sobremim p{
    position: relative;
    font-size: 80%;
    height: 50%;
    padding: 5%;
    padding-left: 2%;
        padding-right: 2%;
font-size: 70%;
    width: 80%;
    margin: 0;
    border-radius:0;
    margin-top: 10%;
    border-left: none;
}

.ft_eu{
    position: relative;
    margin: 0;
    height:30%;
    margin-top: 15%;
    width: 60%;
}

.card_sobremim{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    align-items: center;
background: rgba(0, 128, 0, 0);
}

.card_sobremim p{
    text-align:justify;
}

#title_mim{
    text-align: center;
    margin-left: 20%;
}

}